/*root: {
  Content Carousel
  --carousel-arrow-color: var(--theme-d5);
  --carousel-arrow-active: rgba(0, 0, 0, 0.5);
  --carousel-slide-counter: var(--theme-d5);
  --carousel-dot: rgba(0, 0, 0, 0.1);
  --carousel-dot-active: rgba(0, 0, 0, 0.7);
}*/

.content_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel_slide {
  display: none;
  height: 80%;
  width: 75%;
  max-width: 400px;
  border: 2px solid var(--main-border-color-alt);
  border-radius: 5%;
  padding: 10px 0 10px 0;
  background-color: var(--main-background-color-alt);
}

.carousel_slide:hover{
  height: calc(80% + 5px);
  border: 2px solid var(--main-border-color);
  padding: 5px 0 5px 0;
  background-color: var(--main-secondary-color);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: var(--carousel-arrow-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 5px;
}
.next {
  right: 0;
  border-radius: 5px;
}

.prev:hover,
.next:hover {
  background-color: var(--carousel-arrow-active);
}

.carousel_slide_counter {
  color: var(--carousel-slide-counter);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: bold;
}

.carousel_slide_content{
  height: 100%;
  width: 100%;
}

.dot_container {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--carousel-dot);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: var(--carousel-dot-active);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
