/*:root {
  --toggle-switch-color: var();
  --toggle-right-color: var();
  --toggle-right-color-alt: var();
  --toggle-left-color: var();
  --toggle-left-color-alt: var();
}*/

.toggle_menu {
  background-color: var(--toggle-switch-color);
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: fit-content;
  text-align: center;
  border-radius: 15px;
  color: var(--toggle-switch-color);
  font-weight: bold;
}
.toggle_menu > span {
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
}
.toggle_menu:has(input:checked) > span:last-child {
  background-color: var(--toggle-right-color);
  transition: 0.4s;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: var(--theme-d5);
}

.toggle_menu:has(input:checked):hover > span:last-child, .toggle_menu:has(input:checked):hover > .switch > .slider {
  background-color: var(--toggle-right-color-alt);
}

.toggle_menu:has(input:not(:checked)) > span:first-child {
  background-color: var(--toggle-left-color);
  transition: 0.4s;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  color: var(--theme-d5);
}

.toggle_menu:has(input:not(:checked)):hover > span:first-child,
.toggle_menu:has(input:not(:checked)):hover > .switch > .slider {
  background-color: var(--toggle-left-color-alt);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-left-color);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 74%;
  width: 40%;
  left: 10%;
  bottom: 13%;
  background-color: var(--toggle-switch-color);
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--toggle-right-color);
}

input:checked + .slider:before {
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
